on:
  push:
  pull_request:

jobs:
  build-release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Cache Flutter dependencies
        uses: actions/cache@v4
        with:
          path: |
            ${{ github.workspace }}/.pub-cache
            ${{ github.workspace }}/build
          key: ${{ runner.os }}-flutter-${{ hashFiles('**/pubspec.yaml') }}

      - name: Build devs cleaner backend
        working-directory: ./devs_cleaner
        run: cargo build --release

      - name: Build Flutter macos app
        working-directory: ./build_buster
        if: ${{ matrix.os == 'macos-latest' }}
        run: flutter build macos --release

      - name: Build Flutter windows app
        working-directory: ./build_buster
        if: ${{ matrix.os == 'windows-latest' }}
        run: flutter build windows --release

      - name: Build Flutter linux app
        working-directory: ./build_buster
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: flutter build linux --release
      